
.checkout{
    margin-top: 13px;
    .checkoutForm{
        margin-top: 13px;
        width:60px;
        padding-left: 70px;
        font-size: 13px;
    }
    
}
.check__input{
   padding-right: 0;
   width: 180px;
}

@media(max-width:720px){
      .checkout{
          padding:0 0  1.25rem 0;
      }
      form{
        padding-bottom: 6rem;
     }
  }