.carrito {
    margin: 5rem 19%;
    text-align: center;
    font-size: 1.3rem;
    color:#fff;
    &__btn {
        padding: 9px;
        border: none;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        color: #fff;
        &:active {
            transform: scale(1.1);
            transition: 0.8s;
        }
    }
    &__text {
        font-size: 30px;
        text-align: center;
        margin: 5%;
        
        div{
            max-width: 300px;
            margin: auto;            
            padding: 3rem 0 5rem;
        }
    }
    &__ico {
        font-size: 18px;
    }
    &__total {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        gap: 5%;
        margin-top: 3%;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        &__2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            &--titl {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-top: 20px;
                p{
                    font-size: 18px;
                    width: 60px;
                }
                &__text{
                    display: flex;
                    justify-content: space-between;
                    gap: 15px;
                    min-width: 600px;
                    padding: 0 68px 0 30px;
                }
            }
        }
        &__text{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__img {
            max-width: 130px;
            border-radius: 10px;
        }
        &__titu {
            font-size: 20px;
            width: 110px;
            margin-top: 0;
        }
        &__btn {
            background: none;
            border: none;
            color: #fff;
            padding-left: 30px;
            &:hover {
                cursor: pointer;
            }
            &:active {
                transform: scale(1.1);
                transition: 0.8s;
            }
        }
    
    }
}


@media(max-width:720px){
    .carrito{
        padding-bottom: 5rem;
        margin-top: 5rem;
        &__content{
            &__text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
            &__btn{
                padding-left: 0;
            }
            .precio{
                display: none;
            }
            &__2--titl__text{
                gap: 15px;
                min-width: 300px;
                .p{
                    display: none;
                }
            }
        }
        &__total{
            margin-top: 25px;
        }
        &__btn{
            padding: 2%;
            line-height: 18px;
        }
    }
}
