header {
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar {
    background: rgb(129, 6, 41);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 28px;
    &__item {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        list-style: none;
    }
    &__iconos {
        font-size: 20px;
        display: flex;
        gap: 30px;
        margin-right: 10px;
    }
}
a {
    color: #fff;
    text-decoration: none;
    &:hover {
        color: rgb(245, 141, 141);
    }
}
.active {
    font-weight: bold;
    color: rgb(254, 209, 93);
}
