.btnMasMenos {
    margin: 5%;
}
.btnMas,
.btnMenos {
    margin: .5rem;
    border-radius: 5px;
    padding: 6px 13px;
    background-color: rgb(77, 123, 111);
    border: none;
    font-size: 17px;
}

.btnAgregar {
    padding: 10px;
    color: #fff;
    background-color: rgb(77, 159, 54);
    border: none;
    border-radius: 10px;
    margin-right: 10%;
    font-size: 16px;
    &:active {
        transform: scale(1.1);
        transition: 0.1s;
    }
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0 10px;
}
button{
    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    .btnMasMenos {
        margin: 0;
    }
    .btnAgregar{
        padding: 9px;
    }
}