* {
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    line-height: 27px;
}
body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 13rem;
    background-color: rgb(36, 34, 37);
    &::-webkit-scrollbar{
        width: 7px;
        &-thumb{
            background-color: rgb(243, 122, 42);
            border-radius: 30px;
        }
    }
}
.conten {
    margin: 5rem 0;
    &__error {
        margin: 8rem 0 23rem 0;
        color: #fff;
    }
}
h1 {
    text-align: center;
}
.App {
    text-align: center;
}

