button {
    background-color: black;
    color: #fff;
    border-radius: 15px;
    padding: 7px;
    cursor: pointer;
    font-size: 1rem;
    padding: 3% 3.5%;
    &:active {
        transform: scale(1.1);
        transition: 0.1s;
    }
}
